*{
    margin: 0%;
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


ul {
    padding: 0 1em;
}

li {
    padding: 0.25rem 1rem;
    border: 1px solid #ffffff;
    color: #836953;
}

/* nav */
    .active {
        border: 2px solid #FFFFFF;
        padding: 0.24rem 0.5rem;
        border-radius: 10px;
    }

    .nav-container {
        background-color: #f8c8dc;
        padding: 0.5rem;
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr 3fr 9fr;
        width: 100%;
        margin: 0 auto;
    }

    .movable-nav {
        display: grid;
        grid-template-columns: 3fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
        width: 100%;
        margin: 0 auto;
    }

    .navi {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        text-align: center;
        color: #836953;
    }

    .nav-item {
        display: flex; 
        align-items: center;
        justify-items: center;
        gap:0.5rem;        
        color: #836953;
        padding: auto 2rem;
    }

    .icon {
        width: fit-content;
        height: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .nav-item:hover .icon path,
    .nav-item:hover h4 {
    color: white;
    }

    /* hamburger */
        .hamburger-button {
            display: flex;
            justify-content: center; 
            align-items: center;
            background-color: #f8c8dc;
            height: 1.5rem;
            width: 2rem;
            padding: 0.25rem;
            border-radius: 5px;
            margin: auto;
            border: 1px solid #836953;
            cursor: pointer;
            color: #836953;
        }

        
        #hamburgerlines {
            width: fit-content;
            height: 1.5rem;
            display: flex;
            justify-content: center;
        }
        
        .hamburger-button:hover #hamburgerlines path {
            color: #f8c8dc;
            background-color: #FFFFFF;
        }


        .hamburger-button:hover {
            background-color: #FFFFFF;
        }


    /* brand */

        #brandlogo , #hover-logo {
            height: 2.25rem;
        }

        #hover-logo {
            display: none;
        }

        .navi.brand .brand-name:hover #brandlogo {
            display: none;
        }

        .navi.brand .brand-name:hover #hover-logo {
            display: inline-block;
            height: 2.25rem;
        }

        .navi.brand .brand-name:hover h3 {
            color: #FFFFFF;
        }

    /* search bar */
        .search-form {
            display: flex;
            justify-content: center;
            border-radius: 10px;
            height: 1.75rem;
            width: 80%;
            border: 1px solid #836953;
            background-color: #836953;
        }

        .search-form input{
            width: 85%;
            padding: 0.25rem 0.5rem;
            border: 0.25rem;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .search-form input[type="text"] {
            border: none;
            outline: none;
        }

        .search-form button{
            width: 15% !important;
            border: 0.25rem;
            background: #836953;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            cursor: pointer;
            padding: auto;
        }

        .search-form:hover button{
            width: 15% !important;
            border: 0.25rem;
            background: #f8c8dc;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            cursor: pointer;
        }

        .search-form button .icon path{
            color: #FFFFFF;
            margin: auto;
        }

    /* collapsible */

        .collapse {
            position: absolute;background-color: #ffffff !important;
            color: #836953;
            left:0;
            margin: 0%;
            z-index: 1;
            width: 100%;
        }

        .collapsible.show {
            display: block;
            padding: 3rem;
            border: 2px solid #836953;
            box-shadow: 5px 10px #836953;
            
        }

        .hide {
            display: none;
        }

        

        .categories a:hover li , .categories a:hover h3 , .categories a:hover h4 {
            background-color: #f8c8dc;
        }

        .categories a li , .categories a h3 , .categories a h4 {
            color: #836953;
        }


        .lineSeparator {
            background-color: #836953;
            width: 100%;
            height: 0.15rem;
            margin: 2rem 0;
        }

        .needhelp-item {
            display: flex; 
            align-items: center;
            justify-items: center;
            gap:0.5rem;
            margin: 0.5rem 0;
        }

        .needhelp a:hover .icon path,
        .needhelp a:hover h4 {
            color: #f8c8dc;
        }

        .needhelp a .icon path,
        .needhelp a h4 {
            color: #836953;
        }

        @media (min-width:1600px) {
                  
            .navi {
                height: 3rem;
            }
        
            .icon {
                height: 2.25rem;
            }

            h3 {
                font-size: 2rem;
            }

            h4 {
                font-size: 1.5rem;
            }
        
            /* hamburger */
                .hamburger-button {
                    height: 2rem;
                    width: 2.5rem;
                }
                
                #hamburgerlines {
                    height: 2rem;
                }

            /* brand */
        
                #brandlogo , #hover-logo {
                    height: 3rem;
                }
        
                .navi.brand .brand-name:hover #hover-logo {
                    height: 3rem;
                }
        
            /* search bar */
                .search-form {
                    height: 2.15rem;
                }
        
                .search-form input{
                    width: 80%;
                }
        
                .search-form button{
                    width: 20% !important;
                }
        
                .search-form:hover button{
                    width: 20% !important;
                }
            
        }

        @media (min-width:992px) and (max-width:1199px){
            
            .navbar {
                grid-template-columns: 0.5fr 1.5fr 4fr;
            }
        
            .search-form {
                width: 90%;
            }
            
            .search-form input{
                width: 80%;
            }
    
            .search-form button{
                width: 20%;
            }
        }
        
        @media (min-width:768px) {
        
            .movable-nav .home {
                display: none;
            }
        
            .needhelp-item {
                gap:0.25rem;
                margin: 0.25rem 0;
            }
        
            @media (max-width:991px){
                .navbar {
                    grid-template-columns: 0.5fr 1.5fr 3fr;
                }
    
                .movable-nav {
                    grid-template-columns: 4.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
                } 
        
                .search-form {
                    width: 100%;
                }
                
                .search-form input{
                    width: 85%;
                }
        
                .search-form button{
                    width: 15%;
                }
        
                .navilabel {
                    display: none;
                }
            }
        }
        
        @media (max-width:767px) {

            .collapsible {
                padding: 2rem;
            }
            
            .searchbar {
                display: none;
            }
        
            .navilabel {
                display: none;
            }

            @media (min-width:576px) {
                .navbar {
                    grid-template-columns: 1.5fr 4fr 6fr;
                }
    
                .movable-nav {
                    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
                }
            
                .movable-nav .home {
                    display: none;
                }
            }
            
        }

        /* mobile */
        
        @media (max-width:575px){
            .navbar {
                grid-template-columns: 1fr 7fr;
            }

            .movable-nav {
                position: fixed;
                left: 0;
                bottom: 0;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                gap: 0.05rem;
                background-color: #f8c8dc;  
                z-index: 999;
            }
        
            h3 {
                font-size: 1.1rem;
            }
        
            h4 {
                font-size: 1rem;
            }

            .movable-nav .navi{
                padding: 0.25rem 0;
                border-radius: 5px;
                text-align: center;
            }

        }
        
        @media (max-width:249px){
            
            .needhelp a h4 {
                display: none;
            }
        }

