.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.floating-button , .back-to-top-button {
  position: fixed;
  bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #f8c8dc;
  color: #836953;
  border-radius: 50%;
  text-decoration: none;
  font-size: 2rem;
  border: 2px solid #836953;
  animation: blink 1s infinite;
}

.floating-button:hover , .back-to-top-button:hover {
  background-color: #FFFFFF;
  color: #836953;
  border: 2px solid #F8C8DC;
  cursor: pointer;
}

.floating-button {
  left: 2rem;
}


.back-to-top-button {
  right: 2rem;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width:768px) {
  .floating-button {
    display: hidden;
  }
}